:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.plus-cursor {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  will-change: transform;
  z-index: 9999;
}

.plus-cursor::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  will-change: transform;
}
.plus-cursor::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 12px;
  top: 0;
  left: 0;
  background-color: white;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  will-change: transform;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.fade-out {
  animation: fadeOut 15s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}